astroid==3.0.1
dill==0.3.7
dnspython==2.4.2
envparse==0.2.0
isort==5.12.0
loguru==0.7.2
mccabe==0.7.0
platformdirs==3.11.0
pylint==3.0.2
pymongo==4.5.0
tomli==2.0.1
tomlkit==0.12.1
typing_extensions==4.8.0
